%div#todoForm.page

  .row
    .row
      .span6  
        %h1 TODO
        .form-inline
          %input#taskInput
          %button.btn.btn-primary#submit OK
    .row
      .span6
        %ul#taskList
          -# checkbox task

